h1 {
    color: green;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.header-list-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-trash {
    color: black;
    text-decoration: none;
}

.select-options {
    width: 170px;
    margin: 0 16px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.active {
    pointer-events: none;
    cursor: default;
}
