<form action="/account/logout" method="POST" id="form-logout"></form>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if isAuth}}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://yt3.ggpht.com/yti/APfAmoH8L-LiQ5yO7qxn4_tjxDDEYH-wRJCPRmCl-B-c=s88-c-k-c0x00ffffff-no-rj-mo" class="user-avatar" alt="user avatar">
            {{authUser.fullname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Tạo khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#form-logout').submit();">Đăng xuất</a>
          </div>
        </li>

        {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://yt3.ggpht.com/yti/APfAmoH8L-LiQ5yO7qxn4_tjxDDEYH-wRJCPRmCl-B-c=s88-c-k-c0x00ffffff-no-rj-mo" class="user-avatar" alt="user avatar">
            Guest
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account/login">Đăng nhập</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/account/register">Đăng ký</a>
          </div>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>